{{#> layout_main}}
    {{#* inline "header"}}Log in{{/inline}}
    {{#* inline "content"}}
        <div class="{{ pageStyles.form }}">
            <form>
                {{{ inputLogin }}}
                {{{ inputPassword }}}
                <div class="{{ pageStyles.button }}">
                    {{{ button }}}
                </div>
                <div class="{{ pageStyles.registrationLink }}">Don’t have a account? <a href="#registration">Registration</a></div>
            </form>
        </div>
    {{/inline}}
{{/layout_main}}