{{#> layout_main}}
    {{#* inline "header"}}Registration{{/inline}}
    {{#* inline "content"}}
        <div class="{{ pageStyles.root }}">
            {{#if serverError }}
                <div class="{{ pageStyles.serverError }}">{{ serverError }}</div>
            {{/if}}
            <form class="registrationForm">
                <div class="{{ pageStyles.fields }}">
                    <div class="{{ pageStyles.field }} {{ pageStyles.firstName }}">{{{ inputFirstName }}}</div>
                    <div class="{{ pageStyles.field }} {{ pageStyles.secondName }}">{{{ inputSecondName }}}</div>
                    <div class="{{ pageStyles.field }} {{ pageStyles.login }}">{{{ inputLogin }}}</div>
                    <div class="{{ pageStyles.field }} {{ pageStyles.email }}">{{{ inputEmail }}}</div>
                    <div class="{{ pageStyles.field }} {{ pageStyles.phone }}">{{{ inputPhone }}}</div>
                    <div class="{{ pageStyles.field }} {{ pageStyles.password }}">{{{ inputPassword }}}</div>
                    <div class="{{ pageStyles.field }} {{ pageStyles.repeatPassword }}">{{{ inputRepeatPassword }}}</div>
                </div>
                <div class="{{ pageStyles.button }}">
                    {{{ button }}}
                </div>
            </form>
            <div class="{{ pageStyles.registrationLink }}">Do you have a account? <a href="{{ loginUrl }}">Log in</a></div>
        </div>
    {{/inline}}
{{/layout_main}}