{{#> layout_main}}
    {{#* inline "header"}}Chats{{/inline}}
    {{#* inline "content"}}
        <div class="{{ pageStyles.chatsContent }}">
            <div class="{{ pageStyles.leftColumn }}">
                <a href="{{ profileUrl }}" class="{{ pageStyles.profileLink }}">Profile ></a>
                {{{ searchInput }}}
                <div class="{{ pageStyles.chatList }}" class="chat-list">
                    {{#each chats}}
                        {{> chat-item id=id name=title lastMessage=last_message.content avatar=avatar online=online unreadCount=unreadCount onClick=onChatItemClick }}
                    {{/each}}
                    <div class="{{ pageStyles.error }}">{{serverError}}</div>
                    <form class="newChatForm">
                        <div class="{{ pageStyles.newChat }}">
                            {{{ inputNewChat }}}
                            <button class="{{ pageStyles.smallButton }}">+</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="{{ pageStyles.rightColumn }}">
                <div class="{{ pageStyles.chatInfo }}">
                    {{#if currentChat }}
                        {{> avatar avatar=currentChat.avatar online=online }}
                        <div class="{{ pageStyles.chatInfoText }}">
                            <div class="{{ pageStyles.name }}">{{ currentChat.title }}</div>
                            <div class="{{ pageStyles.deleteChat }} delete-chat">Delete chat</div>
                        </div>
                        <div class="{{ pageStyles.newUser }}">
                            <div class="{{ pageStyles.error }}">{{newUserError}}</div>
                            <form class="newUserForm">
                                <div class="{{ pageStyles.newUserForm }}">
                                    {{{ inputNewUser }}}
                                    <input type="submit" class="{{ pageStyles.smallButton }}" name="action" value="+" />
                                    <input type="submit" class="{{ pageStyles.smallButton }}" name="action" value="-" />
                                </div>
                            </form>
                        </div>
                    {{/if}}
                </div>
                <div class="{{ pageStyles.chat }}">
                    {{#if currentChat }}
                        {{#each currentChatMessages}}
                            {{> chat-message message=message name=name date=date }}
                        {{/each}}
                        <form class="sendMessageForm">
                            <div class="{{ pageStyles.messageForm }}">
                                {{{ messageInput }}}
                                <button class="{{ pageStyles.smallButton }} {{ pageStyles.sendButton }}" />
                            </div>
                        </form>
                    {{else}}
                        <div class="{{ pageStyles.empty }}">Select a chat to chat</div>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/inline}}
{{/layout_main}}