<button class="{{ styles.root }} chat-item" data-id="{{ id }}">
    {{> avatar avatar=avatar online=online }}
    <div class="{{ styles.texts }}">
        <div class="{{ styles.name }}">{{name}}</div>
        <div class="{{ styles.lastMessage }}">
            {{#if author}}<span class="{{ styles.lastMessageAuthor }}">{{author}}:</span>{{/if}}
            {{lastMessage}}
        </div>
    </div>
    {{#if unreadCount}}<div class="{{ styles.newIndicator }}"></div>{{/if}}
</button>