<div class={{ styles.page }}>
    <header class="{{ styles.header }}">
        <img src={{ logo }} class={{ styles.logo }} alt="Logo Chatium">
    </header>
    <main>
        <h1 class={{ styles.h1 }}>{{> header}}</h1>
        <div class={{ styles.content }}>{{> content}}</div>
    </main>
</div>