<div class="{{ styles.root }} {{#if online}}{{ styles.online }}{{/if}}">
    {{#if avatar}}
        <img src="{{ avatar }}" alt="{{ name }}" class="{{ styles.img }}" />
    {{else}}
        <div class="{{styles.stubAvatar}}"></div>
    {{/if}}
</div>