{{#> layout_main}}
    {{#* inline "header"}}Account{{/inline}}
    {{#* inline "content"}}
        <div class="{{ pageStyles.root }}">
            <div class="{{ pageStyles.avatar }}">
                <div class={{ pageStyles.avatarStub }}>
                    <input type="file" class="{{ pageStyles.avatarInput }}" />
                </div>
                Avatar
            </div>
            <form class="accountSettingsForm">
                <div class="{{ pageStyles.fields }}">
                    <div class="{{ pageStyles.field }} {{ pageStyles.firstName }}">{{{ inputFirstName }}}</div>
                    <div class="{{ pageStyles.field }} {{ pageStyles.secondName }}">{{{ inputSecondName }}}</div>
                    <div class="{{ pageStyles.field }} {{ pageStyles.displayName }}">{{{ inputDisplayName }}}</div>
                    <div class="{{ pageStyles.field }} {{ pageStyles.login }}">{{{ inputLogin }}}</div>
                    <div class="{{ pageStyles.field }} {{ pageStyles.email }}">{{{ inputEmail }}}</div>
                    <div class="{{ pageStyles.field }} {{ pageStyles.phone }}">{{{ inputPhone }}}</div>
                </div>
                <div class="{{ pageStyles.button }}">{{{ buttonSaveData }}}</div>
            </form>
            <h2 class={{ pageStyles.sectionTitle }}>Change password</h2>
            <form class="accountPasswordForm">
                <div class="{{ pageStyles.passwordForm }}">
                    <div class="{{ pageStyles.field }} {{ pageStyles.oldPassword }}">{{{ inputOldPassword }}}</div>
                    <div class="{{ pageStyles.field }} {{ pageStyles.newPassword }}">{{{ inputNewPassword }}}</div>
                </div>
                <div class="{{ pageStyles.button }}">{{{ buttonChangePassword }}}</div>
            </form>
        </div>
    {{/inline}}
{{/layout_main}}